<div class="d-flex flex-row promo-banner-main">
        <div class="promo-banner">
    <a href=@Link>
            <img src="@ImageLink" alt="" class="promo-banner-image img-fluid" />
            <div class="promo-banner-text">
                <h3>@Header</h3>
                <p>@Description</p>
            </div>
    </a>
        </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string ImageLink { get; set; }

    [Parameter]
    public string Link { get; set; }

    public PromoBanner()
    {
        Header = "Заголовок";
        Description = "Описание";
        ImageLink = "";
        Link = "/";
    }
}
