<div class="sales-hits-container">
<h1>Хиты продаж</h1>
<div class="d-flex flex-row">
    @for(int i=0; i<5; i++)
    {
        <ProductCardComponent Id="@i"></ProductCardComponent>
    }
</div>
</div>

@code {

}
