<div class="sales-hits-container">
<h1>Хиты продаж</h1>
<div>
    @for(int i=0; i<8; i++)
    {
        <div class="inline">
            <ProductCardComponent Id="@i"></ProductCardComponent>
        </div>
    }
</div>
</div>

@code {

}
