<div class="sales-hits-container">
    <h1>Хиты продаж</h1>
    <div>
        @foreach(var prod in salesHits)
        {
            <div class="inline">
                <ProductCardComponent Id="@prod.ID"></ProductCardComponent>
            </div>
        }
    </div>
</div>

@code {
    public List<Product> salesHits { get; set; } = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var salesHitsResp = await HttpService<Product>.SendListAsync<Product>("Tovary/salesHits", HttpMethod.Get);
       if (!salesHitsResp.HasErrors) salesHits = salesHitsResp.Responce;
    }
}
