@inherits ComponentBase

<div class="inline">
        <div class="promo-banner">
            <img src="@ImageLink" alt="" class="promo-banner-image img-fluid" />
            <div class="promo-banner-text">
                <h3>@Header</h3>
                <p>@Description</p>
            </div>
        </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string ImageLink { get; set; }

    [Parameter]
    public string Link { get; set; }
    public Banner()
    {
        Header = "Заголовок";
        Description = "Описание";
        ImageLink = "";
        Link = "/";
    }
}
