<div class="row top-0">
    <div class="row-md mt-3">
        <form class="d-flex">
            <select class="form-select bg-secondary text-white border-0 me-3" style="max-width: 7rem;">
                <option selected>Фильтр</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Поиск</button>
        </form>
        <hr>
    </div>
</div>

@code {

}
