<div id="carouselBanner" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
  <div class="carousel-inner carousel-banner-item">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../src/fanera_banner.png" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item carousel-banner-item" data-bs-interval="10000">
      <img src="../src/raspil_banner.png" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

@code {

}
