@using OnlineShop.Data;

<div id="carouselBanner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-banner-item">
        @for (int i = 0; i < Banners.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active" data-bs-interval="10000">
                    <OnlineShop.Shared.MainPage.PromoBanner Header=@Banners[i].Header
                                                    Description=@Banners[i].Description
                                                    ImageLink=@Banners[i].ImageLink
                                                    Link=@Banners[i].Link
                                                    LinkHeader=@Banners[i].LinkHeader>
                    </OnlineShop.Shared.MainPage.PromoBanner>
                </div>
            }
            else
            {
                <div class="carousel-item carousel-banner-item" data-bs-interval="10000">
                    <OnlineShop.Shared.MainPage.PromoBanner Header=@Banners[i].Header
                                                    Description=@Banners[i].Description
                                                    ImageLink=@Banners[i].ImageLink
                                                    Link=@Banners[i].Link
                                                    LinkHeader=@Banners[i].LinkHeader>
                    </OnlineShop.Shared.MainPage.PromoBanner>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

@code {
    List<BannerData> Banners { get; set; } = new List<BannerData>();

    public CarouselComponent()
    {
        Banners.Add(new BannerData()
            {
                Header = "Все виды фанеры по низким ценам",
                Description = "Большой выбор фанеры, ОСБ, ДВП, ДСП в наличии и под заказ",
                ImageLink = "../src/banner-fanera.jpg",
                Link = "/catalog",
                LinkHeader = "Каталог"
            });
        Banners.Add(new BannerData()
            {
                Header = "Распил материала",
                Description = "Услуги по качественному распилу деревянных изделий и листового материала - в строгом соответствии с требованиями заказчика",
                ImageLink = "../src/banner-fanera.jpg",
                Link = "https://faneradarom.usite.pro/index/raspil_materiala/0-11",
                LinkHeader = "Прайс"
            });
    }
}
