<div>
    <Banner Header="Распил материала"
            Description="Услуги по качественному распилу деревянных изделий и листового материала - в строгом соответствии с требованиями заказчка"
            ImageLink="https://faneradarom.com/img/catalog/1.png"
            Link="https://faneradarom.usite.pro/index/raspil_materiala/0-11">
    </Banner>
    <Banner Header="Доставка"
            Description="Доставляем по всей России от 1 го листа, заказ забора груза транспортной компании оформляем сами или ищем попутным авто до города назначения"
            ImageLink="https://faneradarom.com/img/catalog/3.png"
            Link="https://faneradarom.com/index/dostavka/0-12">
    </Banner>
</div>

@code {

}
