@inherits LayoutComponentBase
@using OnlineShop.Models

<PageTitle>OnlineShop</PageTitle>

<div class="page">
    <HeaderComponent RoleCallback="@SetUser"></HeaderComponent>
    <main>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter] public User? CurrentUser { get; set; }

    public void SetUser(User? user)
    {
        CurrentUser = user;
    }
}