<div class="nav-bar">
    <div class="logo-container">
        <a class="logo" href="/"></a>
    </div>
    <div class="d-flex flex-row gap-20">
        <NavLink href="/catalog">
            <BootstrapBlazor.Components.Button>Каталог</BootstrapBlazor.Components.Button>
        </NavLink>
        <BootstrapBlazor.Components.BootstrapInput @bind-Value="@Search" PlaceHolder="Поиск" IsTrim="true" OnEnterAsync="OnEnterAsync"/>
    </div>
    <div class="d-flex flex-row child">
        <div>
            <a href="/cart">
                <Icon Type="shopping-cart" Theme="outline" class="icons" />
            </a>
        </div>
        <div>
            <a href="/profile">
                <Icon Type="user" Theme="outline" class="icons" />
            </a>
        </div>
    </div>
</div>

@code {
    public string Search { get; set; }

    private async Task OnEnterAsync(string val)
    {
        NavigationManag.NavigateTo($"catalog?search=" + Search);
    }
}
