<div class="d-flex flex-row nav-bar">
    <div>
        <a class="logo" href="/"></a>
    </div>
    <div>
        <NavLink href="/catalog" class="catalog">Каталог</NavLink>
    </div>
    <div>
        <Search Placeholder="Поиск" WrapperStyle="width: 200px;" ClassicSearchIcon />
    </div>
    <div class="d-flex flex-row child">    
        <div> 
            <a href="/cart">
                <Icon Type="shopping-cart" Theme="outline" class="icons"/>
            </a>
        </div>
        <div>
            <a>
                <Icon Type="user" Theme="outline" class="icons" />
            </a>
        </div>
    </div>
</div>

@code {

}
