<div class="product-card">
    <img src="../src/fanera-fk.jpg" class="product-card-image"/>
    <span class="product-card-price">9000 руб/лист</span>
    <NavLink href="product/2" class="product-card-price" >Фанера ФК 1525*1525 4/4 12мм</NavLink>
    <Button>В корзину</Button>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
}
