<div class="product-card">
    <img src="../src/fanera-fk.jpg" class="product-card-image"/>
    <span class="product-card-price">9000 руб/лист</span>
    <span class="product-card-price">Фанера ФК 1525*1525 4/4 12мм</span>
    <Button>В корзину</Button>
</div>
@code {

}
