@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="product-card">
    <img src="../src/fanera-fk.jpg" class="product-card-image" />
    <span class="product-card-price">@GetPrice()</span>
    <NavLink href=@GetHref() class="product-card-price">@Product.Naim2</NavLink>
    @if (IsAvailable)
    {
        <BootstrapBlazor.Components.Button IsAsync="true" OnClick="@AddToCart" class="product-cart-btn">В корзину</BootstrapBlazor.Components.Button>
    }
    else
    {
        <BootstrapBlazor.Components.Button IsDisabled="true" class="product-cart-btn">Под заказ</BootstrapBlazor.Components.Button>
    }
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    public Product Product { get; set; } = new Product();
    public bool IsAvailable { get; set; } = true;

    protected override async Task OnParametersSetAsync()
    {
        Product = (await BaseHttpService<Product>.SendListAsync<Product>("Tovary/" + Id, HttpMethod.Get)).FirstOrDefault();
    }

    private string GetPrice()
    {
        if (Product.Prices != null && Product.Prices.FirstOrDefault() != null)
        {
            IsAvailable = true;
            return Product.Prices?.FirstOrDefault()?.price_nal + " руб/лист";
        }
        IsAvailable = false;
        return "уточняйте у менеджера";
    }

    private string GetHref()
    {
        return "product/" + Product.ID;
    }


    private async Task AddToCart()
    {
        ShoppingCart? shoppingCart = await localStorage.GetItemAsync<ShoppingCart>("ShoppingCart");
        if (shoppingCart == null)
        {
            shoppingCart = new ShoppingCart();
        }
        if (shoppingCart.ProductCarts == null) shoppingCart.ProductCarts = new List<ProductCart>();
        ProductCart? productCart = shoppingCart.ProductCarts.Where(p => p.Product.ID == Id).FirstOrDefault();
        if (productCart == null) shoppingCart.ProductCarts.Add(new ProductCart() { Count = 1, Product = Product, ProductId = Id });
        else productCart.Count += 1;
        await localStorage.SetItemAsync("ShoppingCart", shoppingCart);
        await Task.Delay(1000);
    }
}
